<!-- default for any page -->

<!DOCTYPE html>
<html>
	<%- partial('_partial/declare') %>
	<%- partial('_partial/head') %>

	<%- partial('_partial/header') %>
	<body><%- body %></body>
	<%- partial('_partial/footer') %>

	<%- partial('_partial/after-footer') %>
</html>
