<!-- views/partials/header.ejs -->

<div id="header-holder">
	<header id="header">

		<div class="header-fixed-home">
			<a target="_self" href="<%- config.root%>">
				<i class="fa fa-home fa-2x"></i>
				<span>首页</span>
			</a>
		</div>

		<div class="receptacle">

			<a class="header-title-bar" href="<%- config.root%>"><%- config.title%></a>
			<span class="header-description"><%- theme.titlebar%></span> 

			<a target="_blank" href="<%- theme.social.zhihu%>">
				<button class="attend-zhihu">关注知乎</button>
			</a>
		</div>
	</header>
</div>
